<section id="team" class="section">
  <h2>Наша команда</h2>
  <div class="team-grid">
    <div class="member">
      <img src="/static/img/ivan.jpg" alt="Иван Иванов" />
      <h4>Иван Иванов</h4>
      <p>Главный кинезиолог, сертифицированный специалист с 10+ лет опыта</p>
    </div>
    <div class="member">
      <img src="/static/img/maria.jpg" alt="Мария Петрова" />
      <h4>Мария Петрова</h4>
      <p>Тренер групповых программ, специализируется на лечебной физкультуре</p>
    </div>
  </div>
</section>
